*
{
    margin: 0px;
}
body
{
    background-color:rgb(255, 255, 238) ;
    font-family: serif;
}
.header
{
    background-color:rgb(49, 60, 78);
    padding-left: 35px;
    text-align: left;
    color: white;
}
.name 
{
    font-size: 45px;
    padding-top: 35px;
   
}
.role
{
    color:#428A91;
    font-size: 20px;
}
.intro
{
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contactInfo
{
    background-color:#222A33;
    color: white;
    padding: 5px 0px 5px 15px;
}
.contactInfo section
{
    display: inline-block;
    padding-left: 15px;
    padding-right: 45px;
}
.contactInfo section span
{
    vertical-align: 6px;
}