* {
    margin: 0px;
  }
  body {
    background-color: #f0f0f0;
  }
  #menuToggle {
    position: relative;
    z-index: 1;
    padding: 20px;
  }
  #menuToggle input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 2; /* in order to place the checkbox over the hamburguer */
    width: 30px; /* sets the width of the checkbox to 30 pixels. so that it overlap with hamburger icon */
  }
  #menuToggle span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background-color: #333;
    border-radius: 3px;
    z-index: 1; /* in order to place the hamburguer over the checkbox */
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;
    transform-origin: 4px 0px; /* set to 4px 0px to specify the center of rotation for the transform property above. */
  }

  #menuToggle span:first-child {
    transform-origin: 0% 100%; /*sets the origin of the transform property to the top left corner of the element.*/
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 0%; /*sets the origin of the transform property to the bottom left corner of the element.*/
  }

  #menuToggle input:checked ~ span {
    /* selects all span elements that come after an input element that is checked inside the #menuToggle element. */
    opacity: 1;
    transform: rotate(-45deg) translate(-14px, 21px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(45deg) translate(0px, -13px);
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    /* selects the third span element from the end that comes after an input element that is checked inside the #menuToggle element. */
    opacity: 0; /* sets the opacity of the element to 0, making it invisible. */
    transform: rotate(0deg) scale(0.2, 0.2); /* applies a rotation of 0 degrees and a scale of 0.2 to the element, making it very small and invisible.*/
  }

  #menu {
    min-height: 100vh; /* sets the minimum height of the menu to 100% of the viewport height. */
    position: absolute; /* allow us to position the menu on top of the rest of the content. */
    left: -300px; /* This property moves the menu outisde of the viewport*/
    top: 80px; /*This property sets the distance between the top edge of the menu and the top edge of the #menuToggle div.*/
    width: 200px;
    margin: -100px 0 0 -50px; /* The negative margin values are used to move the menu up and to the left to center it vertically and horizontally within the #menuToggle div. */
    padding: 50px;
    padding-top: 125px;
    background: #fff;
    transition: left 0.5s; /* This property sets the transition effect for the left property. This will create a smooth animation when the menu slides in from the left.*/
  }
  #menu a {
    text-decoration: none; /* removes the default underline from the links. */
    color: #333; /* sets the color of the links to a dark gray. */
    display: block; /* makes the links take up the full width of their parent element. */
    padding: 10px 0;
    font-size: 22px;
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    left: 40px;
  }